@import "../../constants";

.button {
  width: 188px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $blue;
  color: $white;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border-radius: 5px;
  border: none;

  @include transition;

  cursor: pointer;

  &:hover {
    background: $blue_hover;
  }
}

.button_disabled {
  background: $text_light_gray_2;

  &:hover {
    background: $text_light_gray_2;
  }
}

.button_margin-top-40 {
  margin-top: 40px;
}

.button_margin-top-30 {
  margin-top: 30px;
}

.button_margin-top-20 {
  margin-top: 20px;
}

.button_type_2 {
  background: none;
  border: 1px solid $blue;
  color: $blue;

  &:hover {
    background: $blue;
    color: $white;
  }
}
