@import "../../../../../../constants";

.chat-middle {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  padding: 90px 0 15px;
  overflow: auto;
  position: relative;
}

.chat-middle__date {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  line-height: 17px;
  color: $text-light-gray-2;
}

.chat-middle__messages-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
