.input-item {
  margin: 0 0 20px;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}

.input-item_margin-bottom-7 {
  margin-bottom: 7px;
}

.input-item__error {
  font-size: 12px;
  color: red;
  margin: 10px 0 0;
}
