@import "../../../../../../constants";

.chat-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid $border;
  position: relative;
}

.chat-top__interlocutor-name {
  margin: 0 auto 0 15px;
}

.chat-top__settings-button {
  width: 26px;
  height: 29px;
  background: url('../../../../../../../static/images/icons/settings-dots.svg') no-repeat center;
  margin: 0 0 0 auto;

  &:hover {
    background: url('../../../../../../../static/images/icons/settings-dots-black.svg') no-repeat center;
  }
}

.chat-top__popup-menu {
  right: 0;
  left: auto!important;
  z-index: 1;
  background: $main-bg;
  padding: 10px 0;
  border-radius: 0 0 5px 5px;
  width: 270px;
}

.chat-top__menu_item {
  list-style-type: none;
  cursor: pointer;
  padding: 8px 15px;

  &:hover {
    background: rgb(255 255 255 / 30%);
  }
}

