$blue: #2f4e9d;
$blue-hover: lighten(#2f4e9d, 10%);
$white: #fff;
$main-bg: #bbccd1;
$main-light: #f2f2f2;
$border: #9fb0b9;
$text-black: #000;
$text-gray: #525252;
$text-light-gray-1: #999;
$text-light-gray-2: #919295;
$light-gray: #e4e4e4;
$text-light-gray-3: #d9d9d9;
$text-blue: $blue;
$light-blue: #c7ddff;
$shadow-gray: rgb(119 119 119 / 25%);

@mixin shadow($color) {
  box-shadow: 0 0 6px $color;
}

@mixin transition {
  transition: all 0.2s ease-in-out;
}

@mixin title-h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000;
  margin: 0 0 30px;
}
