$blue: #2F4E9D;
$blue_hover: lighten(#2F4E9D, 10%);
$white: #FFFFFF;
$main_bg: #BBCCD1;
$main_light: #F2F2F2;
$border: #9FB0B9;
$text_black: #000000;
$text_gray: #525252;
$text_light_gray_1: #999999;
$text_light_gray_2: #919295;
$text_light_gray_3: #D9D9D9;
$text_blue: $blue;
$shadow_gray: rgba(119, 119, 119, 0.25);

@mixin shadow($color) {
  box-shadow: 0 0 6px $color;
}

@mixin transition {
  transition: all 0.2s ease-in-out;
}

@mixin title_h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  margin: 0 0 30px;
}
